body {
  background-color: #ececec;
  padding: 0;
  margin: 0;
}

input[type="checkbox"] {
  height: 200px;
  width: 200px;
  /* menghilangkan tampilan bawaan */
  -webkit-appearance: none;

  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%; /* shape lingkaran */
  border: 8px solid #ececec;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:after {
  font-family: FontAwesome;
  content: "\f011";
  color: #7a7a7a;
  font-size: 70px;
}

input[type="checkbox"]:checked {
  color: #7a7a7a;

  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

input[type="checkbox"]:checked:after {
  color: #15e38a;
}
/* Style buttons */
.btn {
  background-color: rgb(132, 179, 225); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  right: 40px;
  top: 40px;
  position: fixed;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.btnBack {
  background-color: rgb(132, 179, 225); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  left: 40px;
  top: 40px;
  position: fixed;
}

/* Darker background on mouse-over */
.btnBack:hover {
  background-color: RoyalBlue;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 400px;
  overflow: scroll;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  right: 10vw;
  font-size: 28px;
  font-weight: bold;
  position: fixed; /* Stay in place */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
